azure-storage-blob
beautifulsoup4
lxml
numpy
pandas
python-bcb
python-dotenv
pyodbc
requests
selenium
sqlalchemy
urllib3
webdriver-manager
yfinance
sidrapy
pyarrow
polars
openpyxl
pyxlsb
fsspec
xlrd
zstandard
httpx
aiohttp